@font-face {
    font-family: 'minecraftia';
    src: url('fonts/Minecraftia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /*background-image: url(images/background.png);*/
    background: #202023;
    font-family: "Ubuntu", sans-serif;
    color: white;
}