@font-face {
    font-family: 'minecraftia';
    src: url('fonts/Minecraftia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;